@model OnlinePharmacyStore.Models.CommonPropertyDirectory.Injection

@{
    ViewData["Title"] = "Create";
}



<div class="row">
    <h2>Create a new Injection.</h2>
    <hr />
    <div class="col-md-7 pt-4">
        <form class="row" asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                
                

                <input asp-for="GenericName" class="form-control" aria-required="true" />
                <label asp-for="GenericName"></label>
                <span asp-validation-for="GenericName" class="text-danger"></span>

            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="BrandName" class="form-control" aria-required="true" />
                <label asp-for="BrandName"></label>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Price" class="form-control" aria-required="true" />
                <label asp-for="Price"></label>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input type="file" name="file" class="form-control" />
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Country" class="form-control" aria-required="true" />
                <label asp-for="Country"></label>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="MRPRs" class="form-control" aria-required="true" />
                <label asp-for="MRPRs"></label>
                <span asp-validation-for="MRPRs" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-6">
                <input asp-for="BatchNo" class="form-control" aria-required="true" />
                <label asp-for="BatchNo"></label>
                <span asp-validation-for="BatchNo" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="MfgDate" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="MfgDate"></label>
                <span asp-validation-for="MfgDate" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="ExpDate" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="ExpDate"></label>
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="centigrade" class="form-control" aria-required="true" />
                <label asp-for="centigrade"></label>
                <span asp-validation-for="centigrade" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Milliliter" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Milliliter"></label>
                <span asp-validation-for="Milliliter" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <button type="submit" class="btn btn-lg btn-primary">
                    <i class="bi bi-save"></i>&nbsp; Save
                </button>
                <button class="btn btn-primary btn-lg" asp-action="Index">
                    <i class="bi bi-x-circle"></i>&nbsp; Cancel
                </button>
            </div>
            <div class="form-floating py-2 col-6">
             
            </div>
        </form>

    </div>
</div>
@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GenericName" class="control-label"></label>
                <input asp-for="GenericName" class="form-control" />
                <span asp-validation-for="GenericName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandName" class="control-label"></label>
                <input asp-for="BrandName" class="form-control" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MRPRs" class="control-label"></label>
                <input asp-for="MRPRs" class="form-control" />
                <span asp-validation-for="MRPRs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MfgDate" class="control-label"></label>
                <input asp-for="MfgDate" class="form-control" />
                <span asp-validation-for="MfgDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpDate" class="control-label"></label>
                <input asp-for="ExpDate" class="form-control" />
                <span asp-validation-for="ExpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchNo" class="control-label"></label>
                <input asp-for="BatchNo" class="form-control" />
                <span asp-validation-for="BatchNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="centigrade" class="control-label"></label>
                <input asp-for="centigrade" class="form-control" />
                <span asp-validation-for="centigrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Milliliter" class="control-label"></label>
                <input asp-for="Milliliter" class="form-control" />
                <span asp-validation-for="Milliliter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@
